 @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
 * {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 2em;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}
.account {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
    justify-content: flex-end;
}
.account-circle {
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 50%;
}
.account-item {
    margin: 0 .5em;
}
.account-text {
    align-self: center;
    color: white;
}
.logo-div {
    width: 5em;
    height: 5em;
    background-image: url('../img/logo-white.png');
    margin: 0 2em;
    background-size: cover;
    background-repeat: no-repeat;
}
.content {
    width: 100%;
}
.company-profile {
    display: flex;
    flex-direction: column;
}
.description-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 1em 0;
    background-color: white;
    transform: translateY(-1em);
    box-shadow: 0px 1px 3px lightgray;
}
.description-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100%/5);
    align-items: center;
}
.description-picture {
    background-image: url('../img/fabric.jpg');
    background-size: contain;
    height: 15em;
}
.navbar-item span {
    margin: 0 2em; 
}
.navbar-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.small-button {
    margin: 0 .5em;
    font-size: 18pt;
    color: white;
}
.navbar-item-input {
    background-color: white;
    padding: .5em 1em;
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.navbar-item-input i {
    font-size: 14pt;
}
.navbar-item-input input {
    background-color: white;
    outline: none;
    border: none;
    border-bottom: solid 1pt black; 
    width: 100%;
    font-size: 14pt;
}
.navbar-child:nth-of-type(1) {
    flex-grow: 1;
    justify-content: flex-start;
}
.navbar-child:nth-of-type(2) {flex-grow: 3}
.navbar-child:nth-of-type(3) {
    flex-grow: 1;
    justify-content: flex-end;
}
.text {
    font-weight: bold;
    font-size: 18pt;
}
.title {
    font-size: 10pt;
}
.subtitle {
    font-weight: bold;
}
.description-item i {
    font-size: 14pt;
}
.description-item button {
    font-size: 10pt;
    background-color: black;
    padding: .25em;
    border-radius: 30px;
    width: 7.5em;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: .25em 0;
}
.tailor-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: black;
    margin: 1em;
    position: absolute;
    top: 0;
    margin-top: -3em;
}
.company-img {
    background-image: url('../img/tailor01.jpg');
    background-size: cover;
}
.company-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.company-item {
    width: 50%;
    margin: 1em;
}
.company-description {
    display: flex;
    flex-direction: column;
}
.footer-div {
    padding: .5em 0;
    margin-top: 1em;
    background-color: black;
    color: white;
    text-align: center;
}

.chat .img span {
    justify-content: center;
}